/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.8rem;
  font-weight: normal;
  font-family: "Viaoda Libre";
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
  font-family: "Viaoda Libre";
  font-weight: normal;
}

h3 {
  font-size: 1.06rem;
  font-family: "Montserrat";
}

p {
  font-size: 1.06rem;
  font-family: "Montserrat";
}

nav {
  height: 3.12rem;
  text-align: center;
  background: #103025;
}
nav p {
  font-size: 0.75rem;
  color: #FFFFFF;
  padding-top: 1rem;
}

body {
  position: relative;
}

main {
  width: 95%;
  margin: 0 auto;
}

.offer {
  margin: 1.9rem 0 1.9rem;
  text-align: center;
  letter-spacing: 6px;
}
.offer .left_leaf {
  position: absolute;
  left: 0;
  top: 3rem;
}
.offer p {
  font-family: "Viaoda Libre";
  letter-spacing: normal;
}

.leaf_right {
  position: absolute;
  top: 7.5rem;
  right: 0;
  height: 10rem;
  z-index: -9;
}

.offer_img {
  border-radius: 20px;
}

.offer_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

/* Countdown */
.count_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.75rem;
}
.count_wrap h1 {
  color: #103025;
  padding-bottom: 0.9rem;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.8rem;
  color: #718878;
}
.countdown h2 {
  font-size: 3.13rem;
  font-family: "Montserrat";
}
.countdown h3 {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.time {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* About srction */
.about {
  width: 85%;
}
.about .title {
  color: #103025;
  margin: 3.75rem 0 0.9rem;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.leaf {
  position: absolute;
  right: 0;
  top: 60rem;
  width: 165px;
}

/* Time and place */
.time_place {
  text-align: center;
  background: #103025;
  color: #FFFFFF;
  border-radius: 1.25rem;
}
.time_place .text_l {
  font-family: "Viaoda Libre";
  text-transform: uppercase;
}
.time_place .title {
  margin: 2.5rem 0;
  padding-top: 2.5rem;
}

.flex_wrap {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.flex_1 {
  display: flex;
  flex-direction: row;
  gap: 76px;
  align-items: center;
  text-align: left;
}
.flex_1 .bold {
  text-transform: uppercase;
  line-height: 0.6;
  font-size: 30px;
}
.flex_1 .bold span {
  font-size: 13px;
}

.flex_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 100px;
  padding-bottom: 4.7rem;
}

.bottom {
  padding-bottom: 1.875rem;
}

/* Program */
.flex_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}/*# sourceMappingURL=main.css.map */