/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.8rem;
  font-weight: normal;
  font-family: "Viaoda Libre";
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
  font-family: "Viaoda Libre";
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  font-size: 1.06rem;
  font-family: "Montserrat";
}

p {
  font-size: 1.06rem;
  font-family: "Montserrat";
}

nav {
  height: 3.12rem;
  text-align: center;
  background: #103025;
}
nav p {
  font-size: 0.75rem;
  color: #FFFFFF;
  padding-top: 1rem;
}

body {
  position: relative;
}

main {
  width: 95%;
  margin: 0 auto;
}

.offer {
  margin: 1.9rem 0 1.9rem;
  text-align: center;
  letter-spacing: 6px;
}
.offer .left_leaf {
  position: absolute;
  left: 0;
  top: 3rem;
}
.offer p {
  font-family: "Viaoda Libre";
  letter-spacing: normal;
}

.leaf_right {
  position: absolute;
  top: 7.5rem;
  right: 0;
  height: 10rem;
  z-index: -9;
}

.offer_img {
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.offer_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

/* Countdown */
.count_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.75rem;
}
.count_wrap h1 {
  color: #103025;
  padding-bottom: 0.9rem;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.8rem;
  color: #718878;
}
.countdown h2 {
  font-size: 3.13rem;
  font-family: "Montserrat";
}
.countdown h3 {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.time {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* About srction */
.about {
  width: 85%;
}
.about .title {
  color: #103025;
  margin: 3.75rem 0 0.9rem;
}
.about .leaf {
  position: absolute;
  right: 0;
  top: 60rem;
  width: 165px;
  z-index: -9;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* Time and place */
.time_place {
  text-align: center;
  background: #103025;
  color: #FFFFFF;
  border-radius: 1.25rem;
}
.time_place .text_l {
  font-family: "Viaoda Libre";
  text-transform: uppercase;
}
.time_place .title {
  margin: 2.5rem 0;
  padding-top: 2.5rem;
}

.flex_wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.flex_1 {
  display: flex;
  flex-direction: row;
  gap: 76px;
  align-items: center;
  text-align: left;
}
.flex_1 .bold {
  text-transform: uppercase;
  line-height: 0.6;
  font-size: 30px;
}
.flex_1 .bold span {
  font-size: 13px;
}

.flex_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 100px;
  padding-bottom: 4.7rem;
}

.bottom {
  padding-bottom: 1.875rem;
  font-size: 0.6rem;
}

/* Program */
.program {
  margin: 3.75rem 0 3.75rem;
  text-align: center;
}

.flex_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding-top: 0.9rem;
  gap: 15px;
}

.leaf {
  position: absolute;
  top: 125rem;
  right: 0;
  z-index: -9;
}

/* Dress code */
.dress_code {
  text-align: center;
}
.dress_code .flex_wrap {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
  gap: 0.9rem;
  margin: 0;
  padding-top: 0.9rem;
}

.colors_wrap {
  display: flex;
  flex-direction: row;
}
.colors_wrap .color {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 0.9rem;
}
.colors_wrap .l_margin {
  margin-left: -8px;
}
.colors_wrap .gr {
  background-color: #103025;
}
.colors_wrap .l_gr {
  background-color: #718878;
}
.colors_wrap .cr {
  background-color: #E9D9C9;
}
.colors_wrap .br {
  background-color: #967860;
}
.colors_wrap .wh {
  background-color: #FFFFFF;
  border: 0.1px solid #DDD;
}
.colors_wrap .bl {
  background-color: #000;
}

.gray_t {
  font-size: 0.8rem;
  text-align: left;
  color: rgba(16, 48, 37, 0.4588235294);
}

/* Form */
.form {
  margin-top: 3.75rem;
  font-family: "Montserrat";
  font-size: 1.06rem;
}
.form .flex_wrap {
  gap: 0.9rem;
  text-align: center;
}
.form .text span {
  font-family: "Viaoda Libre";
}
.form label {
  display: block;
}
.form label span {
  color: rgba(16, 48, 37, 0.3019607843);
  font-size: 0.75rem;
}
.form button {
  background-color: #103025;
  border: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 1.06rem 0;
  border-radius: 0.6rem;
}
.form .leaf {
  top: 153rem;
  width: 110px;
  z-index: -9;
}

.label {
  margin: 1.8rem 0 0.9rem;
}

form {
  display: flex;
  flex-direction: column;
}

#name {
  border: none;
  border-bottom: 1px solid #000;
  font-size: 1rem;
  font-family: "Montserrat";
  -webkit-appearance: none;
}
#name::-moz-placeholder {
  font-family: "Montserrat";
  color: rgba(16, 48, 37, 0.3019607843);
}
#name::placeholder {
  font-family: "Montserrat";
  color: rgba(16, 48, 37, 0.3019607843);
}

input {
  margin-bottom: 0.8rem;
  margin-right: 0.3rem;
  outline: none;
}

/* Info */
.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 85%;
  margin: 3.75rem auto;
  gap: 0.9rem;
}
.info .tel {
  text-decoration: none;
  font-size: 1.06rem;
  color: #000;
  font-family: "Viaoda Libre";
}

/* Footer */
footer {
  margin: 0 auto 3.25rem;
}
footer .leaf {
  left: 0;
  top: 210rem;
  z-index: -9;
  width: 150px;
}

.footer_img {
  position: relative;
  display: flex;
  justify-content: center;
}

.footer_title {
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}
.footer_title .footer_text {
  font-family: "Viaoda Libre";
  text-transform: uppercase;
  font-size: 0.6rem;
}/*# sourceMappingURL=main.css.map */